[Desktop Entry]
Type=Application
Categories=Applications;
Exec=asteroid-fernschreiber2
Name=Ferniegram
#Icon=ios-pulse-outline
Icon=asteroid-fernschreiber2
X-Asteroid-Center-Color=#b04d1c
X-Asteroid-Outer-Color=#421c0a